.homePage_title{
 display: flex;
 /* flex-direction: column; */
 width: 100%;
 height: 100%;
}

.homePage_titleContainer{
 flex:5;
 display: flex;
 flex-direction: column;
 padding: 5%;
 font-size: 24px;
 /* height: 100%; */

 /* border: 1px solid grey; */
}
.homePage_title_text>p{
 flex:1;
}
.homePage_title_text>p.quote{
 display: flex;
 justify-content: end;
 padding-right:4%;
 font-size: 17px;
 color: #1E5AD9;
}
.title_name{
 margin-left: 2%;
 display: flex;
 align-items: center;
 font-size: 50px;

 flex:3;
}
.title_text{

 flex:1;
}
.signUpLink{

 margin: 2% 0 0 2%;
 display: flex;

 border-radius: 10px;
 border: 1px solid black;
 background-color: #F7A414;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 width: 20%;

 white-space: nowrap;


}
.homepage_title_search{
 display: flex;
 justify-content: start;
 align-items: center;

 flex:4;
 margin: 18% 5% 0 2%;

}
.homepage_title_search >input{



 flex: 5 1 auto;
 width:0;
padding-left: 10%;

height: 15%;
 font-size: 25px;
 border: none;
 border-radius: 10px;
}
.homepage_title_search >.link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: 25px;
  flex:1.5;
}

input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
}

@media only screen and (max-width:430px) {
  .homePage_title{
   height: 100%;
   flex-direction: column;
  }
  .homePage_titleContainer{

     width: 92%;
     flex: 5;



     padding:4%;
  }

  .title_name{
   flex: 1;
   font-size: 20px;
  }
  .title_text{
   margin-right: 2%;
   width: 96%;
   flex: 2;
   font-size: 16px;
  }
  .quote{
   flex: 1;
   font-size: 10px;
  }
  .signUpLink{
   width: 40%;
   margin: 3%;
  }
  .homepage_title_search{

   flex:2;
   margin: 0;


  }
  .homepage_title_search >input{

  height: 60%;

  }

}
