.homepage{
  height: 200vh;
}
.homepage_mainSection{
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: space-around;
  background-color: #3EACF7;

}
li{
  padding: 0;
}
.homePage_list{
 height: 70vh;
 /* border-top: 10px solid black; */


}
.homePage_recentPosts{
  margin: 3% 0 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  align-items: center;
  font-size: 20px;
}
.homePage_allPosts{
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homePage_list{
  display: flex;
  justify-content: space-around;
   align-items:center;
   height: 80vh;

}
.homePage_post{
  width:calc(33.3333333% - 30px);
}
.homePage_post >div{
  margin: 2%;
  width: 90%;

}
@media only screen and (max-width:430px) {
  .homepage{
    height: 150vh;

  }
  .homepage_mainSection{
    height: 50vh;
  }
  .homePage_list{
    flex-direction: column;
    height: 40vh;
    background-color: red;
  }
  .homePage_post{
    flex: 1;
    font-size: 10px;
    width: 90%;

    margin: 2%;
  }


}
